<div class="card" style="width: 18rem;">
    <img src="{{pruduct.image.url}}" class="card-img-top" alt="iagen" height="300" width="50">
    <div class="card-body">
        <h5 class="card-title">{{pruduct.titulo}}</h5>
        <p class="card-text">{{pruduct.description}}</p>
        <a href="{% url 'products:product' pruduct.slug %}" class="btn btn-primary">Ver mas</a>
    </div>
</div>