{% extends 'base.html' %}

{% block content %}
<div class="col">
    <h4 class="text-center"> {{ message }} </h4>

    {% include 'products/snippets/search.html' %}

    <div class="row">
        {% for objet in product_list %}
        <div class="col-3 mt-5">
            <!-- Producto -->
            {% include 'products/snippets/product.html' with pruduct=objet %}
        </div>
        {% endfor %}
    </div>

</div>
{% endblock %}