{% if messages is not None %}
{% for message in messages %}

    <!-- {% if message.tags == 'success' %}
        <div class="alert alert-success"> {{ message }} </div>
    {% else %}
        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert">x</button>
            {{ message }}
        </div>
    {% endif %} -->

    <div role="alert"class="alert alert-dismissible {% if message.tags == 'success' %}alert-success{% else %}alert-danger{% endif %}">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        {{ message }}
    </div>

{% endfor %}
{% endif %}
