{% url 'login' as login %}
{% url 'registro' as registro %}
{% url 'logout' as logout %}
{% url 'carts:cart' as cart %}

<nav class="navbar navbar-expand-md bg-dark navbar-dark">


  <div class="container-fluid">
    <a href="{% url 'index' %}" class="navbar-brand">Facilito store</a>


    <div class="d-flex">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="true"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>


      <div class="collapse navbar-collapse " id="navbarToggleExternalContent">

        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link {% if cart == request.path %}active{% endif %}" href="{{ cart }}">
              My Carrito <i class="fas fa-shopping-cart"></i>
            </a>
          </li>
          <li class="nav-item"><a href=""></a></li>
        </ul>


        <ul class="navbar-nav">

          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{{ logout }}"> <span class="fas fa-sign-in-alt"></span>
              Logout </a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link {% if request.path == login %}active{% endif %}" href="{{ login }}">
              <span class="fas fa-user"></span>
              Login
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if request.path == registro %}active{% endif %}" href="{{ registro }}">
              <i class="fas fa-user-plus"></i>
              Registro
            </a>
          </li>
          {% endif %}


        </ul>
      </div>

    </div>
  </div>




</nav>