{% extends 'base.html' %}

{% block content %}
<dv class="col-3">
    {% if product.image is not  None %}
        <img src="{{ product.image.url }}" alt="imagel del producto" width="200", height="200">
    {% endif %}
</dv>

<div class="col">
    <h2>Detalles del productos</h2>

    <div class="h1">{{product.titulo}}</div>

    <div class="h5 font-weighr-bold">
        precios: <span class="text-danger">{{ product.price }}</span>
    </div>
    <div>
        <p> {{product.description}} </p>
    </div>


</div>
{% endblock %}