{% extends 'base.html' %}

{% block content %}
<div class="col">
    <p>BUsqueda de productos</p>
    {% include 'products/snippets/search.html' with query=query %}
    <hr>
    <p>Resultados para: {{ query }}: ({{ count }})</p>
    
    <div class="row">
        {% for objet in product_list %}
        <div class="col-3 mt-5">
            <!-- Producto -->
            {% include 'products/snippets/product.html' with pruduct=objet %}
        </div>
        {% endfor %}
    </div>


    

</div>
{% endblock %}