{% extends 'base.html' %}

{% block content %}
<div class="col">
    <h2>Login</h2>

    <form method="post">
        {% csrf_token %}

        <div class="fomr-group">
            <label for="username">Usuario</label>
            <input type="text" name="username" class="form-control">
        </div>
        <div class="fomr-group">
            <label for="paswword">COntraseña</label>
            <input type="password" name="paswword" class="form-control">
        </div>

        <button type="submit" class="btn btn-primary">Login</button>

    </form>

</div>
{% endblock %}
