{% extends 'base.html' %}
{% block content %}
<div class="col">
    <h2>Registro</h2>

    <form method="post">
        {% csrf_token %}

        <!-- <div class="fomr-group">
            {{ form.userName.label_tag }}
            {{ form.userName }}
            
            {% if form.userName.errors is not None %}
                {{ form.userName.errors }}
            {% endif %}
            
        </div>
        <div class="fomr-group">
            {{ form.email.label_tag }}
            {{ form.email }}
            
            {% if form.email.errors is not None %}
                {{ form.email.errors }}
            {% endif %}
            
        </div>
        <div class="fomr-group">
            {{ form.passw.label_tag }}
            {{ form.passw }}
            
            {% if form.passw.errors is not None %}
                {{ form.passw.errors }}
            {% endif %}
            
        </div> -->

        {% for fiel in form %}
        <div class="fomr-group">
            {{ fiel.label_tag }}
            {{ fiel }}

            {% if fiel.errors is not None %}
            {{ fiel.errors }}
            {% endif %}

        </div>
        {% endfor %}


        <button type="submit" class="btn btn-primary">Registrar</button>
    </form>

</div>
{% endblock %}